interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.staging.snapcraft.io/publisher/api/v1/charm
  response:
    body:
      string: '{"charms":[{"authority":null,"charm-id":"a6GFYhMtbwKHgtft5bJfUUMscY1Be2CF","contact":null,"description":null,"name":"fran-test","package-type":"charm","private":false,"publisher":{"display-name":null,"id":"mGOTZu7OjyCKQxEL7kO7JKkTrHiKDrne","username":null,"validation":"unproven"},"status":"registered","store":"ubuntu","summary":null,"title":null,"website":null}]}

        '
    headers:
      Content-Type:
      - application/json
      PublisherGW-Version:
      - '1'
      X-VCS-Revision:
      - 01f8e99
      X-View-Name:
      - publishergw.webapi.list_registered_names
    status:
      code: 200
      message: OK
version: 1
