interactions:
- request:
    body: null
    headers:
      Bakery-Protocol-Version:
      - '2'
    method: GET
    uri: https://api.charmhub.io/v1/charm
  response:
    body:
      string: '{"results":[{"authority":null,"contact":null,"description":null,"id":"1omXKR8ONGv5ZasymeAt9D1x1s0uflVg","name":"francharm","private":false,"publisher":{"display-name":null,"id":"mGOTZu7OjyCKQxEL7kO7JKkTrHiKDrne","username":null,"validation":"unproven"},"status":"registered","store":"ubuntu","summary":null,"title":null,"type":"charm","website":null},{"authority":null,"contact":"Francisco
        Jimenez <francisco.jimenez.cabrera@canonical.com>","description":"This will
        install and setup WordPress optimized to run in the cloud. By default it will
        \nplace Ngnix and php-fpm configured to scale horizontally with Nginx''s reverse
        proxy.\n","id":"EGnGTopcr5EUo2gvHZcCm7wZU66aHEDA","name":"fran-wordpress","private":false,"publisher":{"display-name":null,"id":"mGOTZu7OjyCKQxEL7kO7JKkTrHiKDrne","username":null,"validation":"unproven"},"status":"published","store":"ubuntu","summary":"WordPress
        is a full featured web blogging tool, this charm deploys it.","title":null,"type":"charm","website":null},{"authority":null,"contact":null,"description":null,"id":"VFZaPCx9iI3cNPBtfDlKcamj8CM7MT5U","name":"test-basic-charm","private":false,"publisher":{"display-name":null,"id":"mGOTZu7OjyCKQxEL7kO7JKkTrHiKDrne","username":null,"validation":"unproven"},"status":"registered","store":"ubuntu","summary":null,"title":null,"type":"charm","website":null},{"authority":null,"contact":null,"description":null,"id":"a6GFYhMtbwKHgtft5bJfUUMscY1Be2CF","name":"fran-test","private":false,"publisher":{"display-name":null,"id":"mGOTZu7OjyCKQxEL7kO7JKkTrHiKDrne","username":null,"validation":"unproven"},"status":"registered","store":"ubuntu","summary":null,"title":null,"type":"charm","website":null}]}

        '
    headers:
      Content-Type:
      - application/json
      PublisherGW-Version:
      - '1'
      X-VCS-Revision:
      - 00e7ca3
      X-View-Name:
      - publishergw.webapi.list_registered_names
    status:
      code: 200
      message: OK
version: 1
