interactions:
- request:
    body: '{"channels": ["edge"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dashboard.snapcraft.io/dev/api/snaps/bv9Q2i9CNAvTjt9wTx1cFC6SAT9YrEfG/close
  response:
    body:
      string: '{"channel_map_tree": {"latest": {"16": {"amd64": [{"channel": "stable",
        "info": "specific", "revision": 23, "version": "1.0.1"}, {"channel": "candidate",
        "info": "specific", "revision": 23, "version": "1.0.1"}, {"channel": "beta",
        "info": "tracking"}, {"channel": "edge", "info": "tracking"}], "arm64": [{"channel":
        "stable", "info": "specific", "revision": 24, "version": "2.0.0"}, {"channel":
        "candidate", "info": "specific", "revision": 24, "version": "2.0.0"}, {"channel":
        "beta", "info": "tracking"}, {"channel": "edge", "info": "tracking"}], "armhf":
        [{"channel": "stable", "info": "specific", "revision": 33, "version": "3.0.0"},
        {"channel": "candidate", "info": "specific", "revision": 33, "version": "3.0.0"},
        {"channel": "beta", "info": "tracking"}, {"channel": "edge", "info": "tracking"}],
        "ppc64el": [{"channel": "stable", "info": "specific", "revision": 31, "version":
        "3.0.0"}, {"channel": "candidate", "info": "tracking"}, {"channel": "beta",
        "info": "tracking"}, {"channel": "edge", "info": "tracking"}], "s390x": [{"channel":
        "stable", "info": "specific", "revision": 32, "version": "3.0.0"}, {"channel":
        "candidate", "info": "tracking"}, {"channel": "beta", "info": "tracking"},
        {"channel": "edge", "info": "tracking"}]}}}, "channel_maps": {"amd64": [{"channel":
        "stable", "info": "specific", "revision": 23, "version": "1.0.1"}, {"channel":
        "candidate", "info": "specific", "revision": 23, "version": "1.0.1"}, {"channel":
        "beta", "info": "tracking"}, {"channel": "edge", "info": "tracking"}], "arm64":
        [{"channel": "stable", "info": "specific", "revision": 24, "version": "2.0.0"},
        {"channel": "candidate", "info": "specific", "revision": 24, "version": "2.0.0"},
        {"channel": "beta", "info": "tracking"}, {"channel": "edge", "info": "tracking"}],
        "armhf": [{"channel": "stable", "info": "specific", "revision": 33, "version":
        "3.0.0"}, {"channel": "candidate", "info": "specific", "revision": 33, "version":
        "3.0.0"}, {"channel": "beta", "info": "tracking"}, {"channel": "edge", "info":
        "tracking"}], "ppc64el": [{"channel": "stable", "info": "specific", "revision":
        31, "version": "3.0.0"}, {"channel": "candidate", "info": "tracking"}, {"channel":
        "beta", "info": "tracking"}, {"channel": "edge", "info": "tracking"}], "s390x":
        [{"channel": "stable", "info": "specific", "revision": 32, "version": "3.0.0"},
        {"channel": "candidate", "info": "tracking"}, {"channel": "beta", "info":
        "tracking"}, {"channel": "edge", "info": "tracking"}]}, "closed_channels":
        ["edge"]}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-close-channel
    status:
      code: 200
      message: OK
version: 1
