interactions:
- request:
    body: '{"channels": ["edge"], "name": "steve-test-snap", "revision": 22}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dashboard.snapcraft.io/dev/api/snap-release/
  response:
    body:
      string: '{"success": true, "channel_map_tree": {"latest": {"16": {"amd64": [{"channel":
        "stable", "info": "specific", "revision": 23, "version": "1.0.1"}, {"channel":
        "candidate", "info": "specific", "revision": 23, "version": "1.0.1"}, {"channel":
        "beta", "info": "tracking"}, {"channel": "edge", "info": "specific", "revision":
        22, "version": "0.8"}]}}}, "channel_map": [{"channel": "stable", "info": "specific",
        "revision": 23, "version": "1.0.1"}, {"channel": "candidate", "info": "specific",
        "revision": 23, "version": "1.0.1"}, {"channel": "beta", "info": "tracking"},
        {"channel": "edge", "info": "specific", "revision": 22, "version": "0.8"}],
        "opened_channels": ["edge"]}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-snap-release
    status:
      code: 200
      message: OK
version: 1
