interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/dev/api/snaps/info/steve-test-snap
  response:
    body:
      string: '{"snap_name": "steve-test-snap", "snap_id": "bv9Q2i9CNAvTjt9wTx1cFC6SAT9YrEfG",
        "series": "16", "store": "Global", "publisher": {"id": "prFvYmvaBsQbXLNaVaQFV4EAcJ8zh0Ej",
        "username": "steverydz", "display-name": "Steve Rydz", "validation": "unproven"},
        "status": "published", "channel_maps_list": [{"track": "latest", "series":
        "16", "architecture": "amd64", "map": [{"channel": "stable", "info": "released",
        "revision": 23, "version": "1.0.1", "epoch": "0", "confinement": "strict",
        "binary_filesize": 4096}, {"channel": "candidate", "info": "released", "revision":
        23, "version": "1.0.1", "epoch": "0", "confinement": "strict", "binary_filesize":
        4096}, {"channel": "beta", "info": null}, {"channel": "edge", "info": "released",
        "revision": 22, "version": "0.8", "epoch": "0", "confinement": "strict", "binary_filesize":
        4096}]}, {"track": "latest", "series": "16", "architecture": "arm64", "map":
        [{"channel": "stable", "info": "released", "revision": 24, "ve[...]
