interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/dev/api/account
  response:
    body:
      string: '{"id": "test_id", "display-name": "Eduard
        Daniel Manta", "username": "edisile", "email": "eduard.manta@canonical.com",
        "validation": "unproven", "account-keys": [{"name": "test", "public-key-sha3-384":
        "****************************************************************", "since":
        "2025-05-14T13:29:49Z"}, {"name": "test3", "public-key-sha3-384": "****************************************************************",
        "since": "2025-05-23T09:57:47Z"}, {"name": "test2", "public-key-sha3-384":
        "****************************************************************", "since":
        "2025-05-21T11:54:39Z"}], "snaps": {"16":{}},
        "short_namespace": "edisile"}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - b161d9872c
      x-view-name:
      - api-account-info
    status:
      code: 200
      message: OK
version: 1
