interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/api/v2/snaps/steve-test-snap/releases?page=1
  response:
    body:
      string: '{"_links": {"self": "https://dashboard.snapcraft.io/api/v2/snaps/steve-test-snap/releases?page=1"},
        "releases": [{"when": "2025-01-07T15:34:15Z", "channel": "latest/edge", "track":
        "latest", "risk": "edge", "branch": null, "expiration-date": null, "architecture":
        "arm64", "revision": 58, "progressive": {"paused": null, "percentage": null,
        "current-percentage": null}}, {"when": "2024-12-17T15:16:17Z", "channel":
        "latest/edge", "track": "latest", "risk": "edge", "branch": null, "expiration-date":
        null, "architecture": "arm64", "revision": 57, "progressive": {"paused": null,
        "percentage": null, "current-percentage": null}}, {"when": "2024-12-05T14:32:19Z",
        "channel": "latest/edge", "track": "latest", "risk": "edge", "branch": null,
        "expiration-date": null, "architecture": "arm64", "revision": 56, "progressive":
  [...]
