interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/api/v2/snaps/steve-test-snap/revisions/22
  response:
    body:
      string: '{"revision": {"architectures": ["amd64"], "attributes": {}, "base":
        "core18", "build_url": null, "confinement": "strict", "created_at": "2022-06-01T08:56:34Z",
        "epoch": {"read": [0], "write": [0]}, "grade": "stable", "revision": 22,
        "size": 4096, "version": "0.8", "status": "Published"}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-snap-revision
    status:
      code: 200
      message: OK
version: 1
