interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/dev/api/account
  response:
    body:
      string: '{"id": "test_id", "display-name": "Alimot
        Akinbode", "username": "codeempress", "email": "alimot.akinbode@test@canonical.com",
        "validation": "unproven", "account-keys": [], "snaps": {"16":{}},
        "short_namespace": "codeempress"}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-account-info
    status:
      code: 200
      message: OK
version: 1
