interactions:
- request:
    body: '{"latest_tos_accepted": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dashboard.snapcraft.io/dev/api/agreement/
  response:
    body:
      string: '{"latest_tos_accepted": true, "latest_tos_date": "2016-04-06 00:00:00",
        "tos_url": "https://dashboard.snapcraft.io/dev/tos/", "accepted_tos_date":
        "2022-11-28 11:00:46.901683"}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-agreement
    status:
      code: 200
      message: OK
version: 1
