interactions:
- request:
    body: '[{"email": "alimot.akinbode@test@canonical.com", "roles": ["view"]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dashboard.snapcraft.io/api/v2/stores/testGahNg0wohVae8aY4/users
  response:
    body:
      string: '{"error-list": [{"message": "The resource requested does not exist
        or credentials are not sufficient to access it.", "code": "resource-not-found"}]}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-store-users
    status:
      code: 404
      message: Not Found
version: 1
