interactions:
- request:
    body: '{"permissions": ["package_access"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dashboard.snapcraft.io/api/v2/tokens
  response:
    body:
      string: '{"macaroon": "{\"i64\": \"woIBMBoOCgVsb2dpbhIFbG9naW4\",
        \"s64\": \"uH0K3x5PIylpHsXHUs0E\", \"l\": \"api.snapcraft.io\",
        \"c\": [{\"i\": \"time-before 2026-01-27T10:12:02.822241Z\"}, {\"i\": \"time-since
        2025-01-27T10:02.822241Z\"}, {\"i\": \"session-id 9f050d3a-e724-49a1-b582-fa86bdb4a52d\"},
        {\"i64\": \"j4zKaeOVwmowK_X6lhfK6CdzASabud\",
        \"v64\": \"O9O46uSN7T2C62R9XvpX6xW41bRC0xvW8gLaFObTaqNy6b\",
        \"l\": \"https://api.jujucharms.com/identity/\"}, {\"i\": \"extra {\\\"channel\\\":
        null, \\\"package_id\\\": null, \\\"acl\\\": [\\\"package_access\\\"], \\\"store_ids\\\":
        null}\"}]}"}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-tokens-list
    status:
      code: 200
      message: OK
version: 1
