interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/api/v2/stores/testGahNg0wohVae8aY4
  response:
    body:
      string: '{"store": {"id": "testGahNg0wohVae8aY4", "brand-id": "test-storeteam-brand",
        "name": "Test Store Team Store", "private": true, "parent": null, "manual-review-policy":
        "allow", "roles": [{"role": "admin", "label": "Admin", "description": "Admins
        manage the store''s users and roles, and control the store''s settings."},
        {"role": "review", "label": "Reviewer", "description": "Reviewers can approve
        or reject snaps, and edit snap declarations."}, {"role": "view", "label":
        "Viewer", "description": "Viewers are read-only users and can view snap details,
        metrics, and the contents of this store."}, {"role": "access", "label": "Publisher",
        "description": "Publishers can invite collaborators to a snap, publish snaps
        and update snap details."}], "store-whitelist": [], "allowed-inclusion-source-stores":
        ["TestInternalStoreTeam2023"], "allowed-inclusion-target-stores": ["TestInternalStoreTeam2023"],
        "snap-name-prefixes": [{"prefix": "test-storeteam", "inheritable": false,
        "parent-id": null}]}, "users": [{"id": "test_id", "username": "test_user"}]}'
    headers:
      content-language:
      - en
      content-type:
      - application/json
      x-vcs-revision:
      - 99f3c3681c
      x-view-name:
      - api-store-info
    status:
      code: 200
      message: OK
version: 1
