interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.snapcraft.io/api/v2/snaps/steve-test-snap/channel-map
  response:
    body:
      string: '{"channel-map": [{"architecture": "amd64", "channel": "latest/candidate",
        "expiration-date": null, "progressive": {"paused": null, "percentage": null,
        "current-percentage": 100.0}, "revision": 23, "when": "2022-06-01T09:01:43Z"},
        {"architecture": "amd64", "channel": "latest/stable", "expiration-date": null,
        "progressive": {"paused": null, "percentage": null, "current-percentage":
        100.0}, "revision": 23, "when": "2024-11-07T13:16:28Z"}, {"architecture":
        "arm64", "channel": "latest/candidate", "expiration-date": null, "progressive":
        {"paused": null, "percentage": null, "current-percentage": 0.0}, "revision":
        24, "when": "2023-06-06T11:44:30Z"}, {"arc[...]
