interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3Alukewh&size=3&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": []}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3Alukewh&size=3&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide"}}}'
    headers:
      content-type:
      - application/hal+json
      snap-store-version:
      - '62'
      x-vcs-revision:
      - c53097aa4a4f8f14a597766878e52468848697b0
      x-view-name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
version: 1
