interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?scope=wide&size=5
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"aliases": null, "anon_download_url":
        "https://api.snapcraft.io/api/v1/snaps/download/76rrD7USwCJrZgepbRk7UdFEWON3tVKX_242.snap",
        "apps": ["zoom-client"], "architecture": ["amd64"], "base": "core22", "binary_filesize":
        406335488, "channel": "stable", "common_ids": [], "confinement": "strict",
        "contact": "mailto:ogra@ubuntu.com?subject=zoom-client", "content": "application",
        "date_published": "2020-03-01T13:26:18.128580Z", "deltas": [], "description":
        "Video conferencing with real-time messaging and content sharing\n\nhttps://zoom.us
        provides simplified video conferencing, whiteboard sharing\nand messaging
        across any device. This is an unofficial re-pack of the debian\npackage provided
        by zoom.us\n", "developer_id": "dev-test-id", "developer_name":
        "Oliver Grawert", "developer_validation": "unproven", "download_sha3_384":
        "830fefcff9c399aa786ac3ae905e08ae4f535ba41706919f6d0df71d6cebe06205b841563c9cb1343008c874ab24ae53",
        "download_sha512": "0136acbc410c975b21b44627629f1a757f237c5fc47ef5c4cdd5bddbbcd5c1e721fdb27b55c2a354b3d4e761a489983f7aa674a0bee6e507f0c85a69667ff4d7",
        "download_url": "https://api.snapcraft.io/api/v1/snaps/download/76rrD7USwCJrZgepbRk7UdFEWON3tVKX_242.snap",
        "gated_snap_ids": [], "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/icon.png",
        "last_updated": "2024-09-29T08:17:40.573401+00:00", "license": "Proprietary",
        "links": {"contact": ["mailto:ogra@ubuntu.com?subject=zoom-client"], "website":
        ["https://zoom.us"]}, "name": "zoom-client.ogra", "origin": "ogra", "package_name":
        "zoom-client", "prices": {}, "private": false, "publisher": "Oliver Grawert",
        "ratings_average": 0.0, "release": ["16"], "revision": 242, "screenshot_urls":
        ["https://dashboard.snapcraft.io/site_media/appmedia/2020/03/zoom-tray.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/zoom-perm.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/zoom-login.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/zoom-account.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/zoom-settings.png"],
        "snap_id": "test_id", "summary": "ZOOM Cloud Meetings",
        "support_url": "", "title": "zoom-client", "version": "6.2.3.2056", "website":
        "https://zoom.us"}, {"aliases": null, "anon_download_url": "https://api.snapcraft.io/api/v1/snaps/download/pOBIoZ2LrCB3rDohMxoYGnbN14EHOgD7_82.snap",
        "apps": ["spotify"], "architecture": ["amd64"], "base": "core20", "binary_filesize":
        193589248, "channel": "stable", "common_ids": [], "confinement": "strict",
        "contact": "https://community.spotify.com/t5/Desktop-Linux/bd-p/desktop_linux",
        "content": "application", "date_published": [...]
