interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/v2/snaps/find?q=xyz&category=&architecture=&publisher=&featured=false
  response:
    body:
      string: '{"results":[{"name":"colorpie","snap":{},"snap-id":"ShhrcFAnHVqqDmco88Lm4ijbdDrWh11h"},{"name":"odin-c2is","snap":{},"snap-id":"xyz-id"},{"name":"jmol","snap":{},"snap-id":"another-xyz-id"}]}

        '
    headers:
      content-type:
      - application/json
      snap-store-version:
      - '62'
      x-vcs-revision:
      - c53097aa4a4f8f14a597766878e52468848697b0
      x-view-name:
      - snapdevicegw.webapi_search_v2.snaps_find
    status:
      code: 200
      message: OK
version: 1
