interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=xyz&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["colorpie"], "architecture":
        ["amd64"], "developer_id": "ccpcJpODSdWMi621YDqnMi9Q8UO6hb8L", "developer_name":
        "keshavbhatt", "developer_validation": "starred", "media": [{"height": 500,
        "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/10/icon_DJOTX5M.png",
        "width": 500}, {"height": 758, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/10/Screenshot_from_2020-10-13_22-12-52.png",
        "width": 1325}], "origin": "keshavnrj", "package_name": "colorpie", "sections":
        [{"featured": false, "name": "productivity"}, {"featured": false, "name":
        "utilities"}], "summary": "Colour Picker & converter", "title": "ColorPie"},
        {"apps": ["odin-c2is"], "architecture": ["amd64"], "developer_id": "ptkNx0wdDFgj8QcNpG7TS7GtOZMOj9X0",
        "developer_name": "Syncpoint GmbH", "developer_validation": "unproven", "media":
        [{"height": 512, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/05/logo512_DRpTK6n.png",
        "width": 512}, {"height": 1847, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2021/05/grafik.jpg",
        "width[...]
