interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/details/nushell?fields=name%2Caliases
  response:
    body:
      string: |
        {
          "aliases": [
            { "name": "nu", "target": "nu" },
            {
              "name": "nu_plugin_stress_internals",
              "target": "nu-plugin-stress-internals"
            },
            { "name": "nu_plugin_gstat", "target": "nu-plugin-gstat" },
            { "name": "nu_plugin_formats", "target": "nu-plugin-formats" },
            { "name": "nu_plugin_polars", "target": "nu-plugin-polars" },
            { "name": "nu_plugin_query", "target": "nu-plugin-query" },
            { "name": "nu_plugin_inc", "target": "nu-plugin-inc" },
            { "name": "nu_plugin_example", "target": "nu-plugin-example" },
            { "name": "nu_plugin_custom_values", "target": "nu-plugin-custom-values" }
          ],
          "name": "nushell.sed-i",
          "package_name": "nushell"
        }
    headers:
      content-type:
      - application/json
      snap-store-version:
      - '69'
      x-vcs-revision:
      - cd12ae9598aebd93b8b720cd2681b669c61bd790
      x-view-name:
      - snapdevicegw.webapi_details.snap_details
    status:
      code: 200
      message: OK
version: 1
