interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/v2/snaps/find?q=xyz
  response:
    body:
      string: '{"results":[{"name":"colorpie","snap":{},"snap-id":"ShhrcFAnHVqqDmco88Lm4ijbdDrWh11h"},{"name":"odin-c2is","snap":{},"snap-id":"GAk9GH9UddI0N6Xr8NOfYL1qjgBMxR33"},{"name":"jmol","snap":{},"snap-id":"rNmTkTKQL5WDm20c0TahQZ0SpOUTyz0p"}]}

        '
    headers:
      content-type:
      - application/json
      snap-store-version:
      - '69'
      x-vcs-revision:
      - 30d5a26fd6984c4f8f5b80e6c8a1d87dd1031179
      x-view-name:
      - snapdevicegw.webapi_search_v2.snaps_find
    status:
      code: 200
      message: OK
version: 1
