interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/v2/snaps/info/test-lukewh?fields=name%2Csummary
  response:
    body:
      string: '{"channel-map":[{"channel":{"architecture":"amd64","name":"edge","released-at":"2018-11-02T10:25:16.375214+00:00","risk":"edge","track":"latest"}}],"default-track":null,"name":"test-lukewh","snap":{"name":"test-lukewh","summary":"A
        Snapcraft design/ web team test snap"},"snap-id":"test-id"}

        '
    headers:
      content-type:
      - application/json
      snap-store-version:
      - '62'
      x-vcs-revision:
      - c53097aa4a4f8f14a597766878e52468848697b0
      x-view-name:
      - snapdevicegw.webapi_info.snap_info
    status:
      code: 200
      message: OK
version: 1
