interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=3&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide&section=games
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["0ad", "atlas"], "architecture":
        ["amd64"], "developer_id": "ptOwp7zpcHN1VUQUwXHZ027UnbkDZF8i", "developer_name":
        "Wildfire Games", "developer_validation": "verified", "media": [{"type": "icon",
        "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/12/icon256_f9302jP.png"},
        {"height": 640, "type": "banner", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/flatpackbanner_QKYFlgx.jpg",
        "width": 1920}, {"height": 1200, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/CarthaginianTown.jpg",
        "width": 1600}, {"height": 1440, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/BritsAbroad.jpg",
        "width": 1920}, {"height": 1440, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/MacedonPort.jpg",
        "width": 1920}, {"height": 1200, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/SpartanTown.jpg",
        "width": 1600}, {"height": 1200, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/MauryanColony.jpg",
        "width": 1600}], "origin": "play0ad", "package_name": "0ad", "sections": [{"featured":
        false, "name": "entertainment"}, {"featured": true, "name": "games"}], "summary":
        "Real-time strategy game of ancient warfare", "title": "0ad"}, {"apps": ["dosbox-x"],
        "architecture": ["amd64"], "developer_id": "eEoV9TnaNkCzfJBu9SRhr2678vzyYV43",
        "developer_name": "Snapcrafters", "developer_validation": "starred", "media":
        [{"height": 512, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/10/dosbox-x.svg.png",
        "width": 512}, {"height": 1053, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/10/01-msword.png",
        "width": 1284},[...]
