interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/signing_key
  response:
    body:
      string: '[{"brand-account-id":"marketplace_test_store_id","created-at":"2023-06-22T12:45:28.301419","created-by":{"display-name":"Bowen
        Fan","email":"bowen.fan@canonical.com","id":"nL0axbuUQXD4WcmZgAxeANXkjVjcWqsd","username":"bowenfan","validation":"unproven"},"fingerprint":"test_fingerprint","modified-at":null,"modified-by":null,"name":"insecure-test-key-3-lpss-bowen","sha3-384":"sha384-key"},{"brand-account-id":"marketplace_test_store_id","created-at":"2023-07-12T15:06:20.945151","created-by":{"display-name":"Bowen
        Fan","email":"bowen.fan@canonical.com","id":"nL0axbuUQXD4WcmZgAxeANXkjVjcWqsd","username":"bowenfan","validation":"unproven"},"fingerprint":"test_fingerprint","modified-at":null,"modified-by":null,"name":"testkeytochecklpss-again-bowen-3","sha3-384":"sha384-key"},{"brand-account-id":"marketplace_test_store_id","created-at":"2023-07-12T15:14:26.548465[...]
