interactions:
- request:
    body: '{"name": "marketplace-test-charm2", "type": "charm", "private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.charmhub.io/v1/charm
  response:
    body:
      string: '{"id":"QjdtBWuv0OI0VRItOZHUU6lFiOqfoaPW"}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi.register_name
    status:
      code: 200
      message: OK
version: 1
