interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id
  response:
    body:
      string: '{"account-id":"marketplace_test_store_id","created-at":"2023-06-21T08:39:55.459067","created-by":{"display-name":"Bowen
        Fan","email":"ban@canonical.com","id":"test_id","username":"bowenfan","validation":"unproven"},"modified-at":null,"modified-by":null,"name":"Web
        and Design"}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_admin.read_brand
    status:
      code: 200
      message: OK
version: 1
