interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/charm
  response:
    body:
      string: '{"results":[{"authority":null,"contact":null,"default-track":null,"description":"This
        charm is for testing purposes.\n","id":"some_random_charm_id","links":{},"media":[],"name":"test-charm","private":false,"publisher":{"display-name":"Alimot Akinbode","id":"some_random_id","username":"codeempress","validation":"unproven"},"status":"published","store":"ubuntu","summary":"A
        charm for the to test.","title":"Charm Template","type":"charm","website":null}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi.list_registered_names
    status:
      code: 200
      message: OK
version: 1
