interactions:
- request:
    body: '{"api-key": ""}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.charmhub.io/v1/brand/njwQYXFnS7ppo7LaGxoh7aqVZc1CPi26/model/test-model
  response:
    body:
      string: '{"error-list":[{"code":"remote-service-unavailable","message":"Unable
        to contact snapmodels. Too many retries"}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_admin.update_model
    status:
      code: 503
      message: SERVICE UNAVAILABLE
version: 1
