interactions:
  - request:
      body:
        '{"allowlist": [{"from-model": "test-from-model", "to-model": "test-to-model",
        "from-serial": "test-serial", "description": "Updated test description"}]}'
      headers:
        Content-Type:
          - application/json
      method: PATCH
      uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/remodel-allowlist
    response:
      body:
        string:
          '{"allowlist": [{"from-model": "test-from-model", "to-model": "test-to-model", "from-serial": "test-serial", "description": "Updated test description", "created-at": "2026-04-21T09:20:00.000Z", "created-by": "test-user", "modified-at": "2026-04-21T09:24:30.000Z", "modified-by": "test-user"}]}

          '
      headers:
        content-type:
          - application/json
        publishergw-version:
          - "66"
        x-vcs-revision:
          - 63983ae640fb0c414534facedb3f85eedc6d4f32
        x-view-name:
          - publishergw.webapi_admin.update_remodel_allowlist
      status:
        code: 200
        message: OK
version: 1
