interactions:
  - request:
      body:
        '{"allowlist": [{"from-model": "test-from-model", "to-model": "test-to-model",
        "from-serial": "test-to-serial", "description": "Test description"}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/remodel-allowlist
    response:
      body:
        string:
          '{"allowlist": [{"from-model": "test-from-model", "to-model": "test-to-model", "from-serial": "test-to-serial", "description": "Test description"}]}

          '
      headers:
        content-type:
          - application/json
        publishergw-version:
          - "65"
        x-vcs-revision:
          - aaaeca13d76052855b06ea6842ea2c066ce06eb4
        x-view-name:
          - publishergw.webapi_admin.create_remodel_allowlist
      status:
        code: 201
        message: CREATED
version: 1
