interactions:
- request:
    body: '{"description": "Updated description"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm
  response:
    body:
      string: '{"metadata":{"authority":null,"contact":null,"default-track":"latest","description":"Updated
        description","id":"test_id","links":{},"media":[],"name":"marketplace-test-charm","private":false,"publisher":{"display-name":"Alimot
        Akinbode","id":"test_id","username":"codeempress","validation":"unproven"},"status":"published","store":"ubuntu","summary":"A
        charm for the Marketplace tribe to test.","title":"Charm Template","track-guardrails":[],"tracks":[],"type":"charm","website":null}}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi.update_package_metadata
    status:
      code: 200
      message: OK
version: 1
