interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm
  response:
    body:
      string: '{"metadata":{"authority":null,"contact":null,"default-track":"latest","description":"This
        charm is used by the Marketplace tribe for testing purposes.\n","id":"test_id","links":{},"media":[],"name":"marketplace-test-charm","private":false,"publisher":{"display-name":"Alimot
        Akinbode","id":"test_id","username":"codeempress","validation":"unproven"},"status":"published","store":"ubuntu","summary":"A
        charm for the Marketplace tribe to test.","title":"Charm Template","track-guardrails":[{"created-at":"2023-11-10T12:20:12.892031","pattern":"[0-9]\\.[0-9]"}],"tracks":[{"automatic-phasing-percentage":null,"created-at":"2023-11-29T08:14:38.922578","name":"0.0","version-pattern":null},{"automatic-phasing-percentage":null,"created-at":"2023-11-13T09:09:28.717348","name":"1.0","version-pattern":null},{"automatic-phasing-percentage":null,"created-at":"2023-11-13T09:08:45.678650","name":"2.0","version-pattern":null},{"automatic-phasing-percentage":null,"created-at":"2023-11-13T09:49:24.683216","name":"3.0","version-pattern":null},{"automatic-phasing-percentage":null,"created-at":"2023-11-13T09:50:41.957406","name":"4.0","version-pattern":null},{"automatic-phasing-percentage[...]
