interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm/collaborators/invites
  response:
    body:
      string: '{"invites":[{"accepted-at":"2024-05-02T11:47:53Z","accepted-by":{"display-name":"LukeWH","email":"luke.wesley-holley@canonical.com","id":"test_id","username":"lukewh"},"created-at":"2024-05-02T10:47:06Z","created-by":{"display-name":"Steve
        Rydz","email":"steve.rydz@canonical.com","id":"test_id","username":"steverydz"},"email":"luke.wesley-holley@canonical.com","expires-at":"2024-06-01T10:47:06Z","invite-type":"package-collaborator","revoked-at":"2024-05-02T12:01:34Z","revoked-by":{"display-name":"Steve
        Rydz","email":"steve.rydz@canonical.com","id":"test_id","username":"steverydz"}}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_collab.get_all_invites
    status:
      code: 200
      message: OK
version: 1
