interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm/releases
  response:
    body:
      string: '{"channel-map":[{"base":{"architecture":"amd64","channel":"22.04","name":"ubuntu"},"channel":"latest/edge","expiration-date":null,"progressive":{"paused":null,"percentage":null},"resources":[],"revision":3,"when":"2023-11-09T14:55:48Z"}],"package":{"channels":[{"branch":null,"fallback":null,"name":"latest/stable","risk":"stable","track":"latest"},{"branch":null,"fallback":"latest/stable","name":"latest/candidate","risk":"candidate","track":"latest"},{"branch":null,"fallback":"latest/candidate","name":"latest/beta","risk":"beta","track":"latest"},{"branch":null,"fallback":"latest/beta","name":"latest/edge","risk":"edge","track":"latest"},{"branch":null,"fallback":null,"name":"0.0/stable","risk":"stable","track":"0.0"},{"branch":null,"fallback":"0.0/stable","name":"0.0/candidate","risk":"candidate","track":"0.0"},{"branch":null,"[...]
