interactions:
- request:
    body: '{"invites": [{"email": "alimot.akinbode@test.canonical.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm/collaborators/invites
  response:
    body:
      string: '{"tokens":[{"email":"alimot.akinbode@test.canonical.com","token":"test_token"}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_collab.invite_collaborators
    status:
      code: 201
      message: CREATED
version: 1
