interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm/collaborators
  response:
    body:
      string: '{"collaborators":[{"account":{"display-name":"Steve Rydz","email":"steve.rydz@canonical.com","id":"prFvYmvaBsQbXLNaVaQFV4EAcJ8zh0Ej","username":"steverydz"},"created-at":"2024-05-02T10:46:41Z","created-by":{"display-name":"Steve
        Rydz","email":"steve.rydz@canonical.com","id":"test_id","username":"steverydz"},"permissions":["package-collaborator"],"updated-at":null}],"publisher":{"display-name":"Alimot
        Akinbode","email":"alimot.akinbode@canonical.com","id":"test_id","username":"codeempress"}}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_collab.get_collaborators
    status:
      code: 200
      message: OK
version: 1
