interactions:
- request:
    body: '{"name": "test-key"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/signing_key
  response:
    body:
      string: '{"brand-account-id":"marketplace_test_store_id","created-at":"2025-01-24T12:26:53.168022","created-by":{"display-name":"Alimot
        Akinbode","email":"alimot.akinbode@canonical.com","id":"test_id","username":"codeempress","validation":"unproven"},"fingerprint":"test_fp","modified-at":null,"modified-by":null,"name":"test-key","sha3-384":"h1_5lws3GBr_DXSOlLquzEN7cfq49xAGGoamO2mxq2y0g7pSyKDB_ELPB_vVe0gA"}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_admin.create_signing_key
    status:
      code: 201
      message: CREATED
version: 1
