interactions:
- request:
    body: '[{"name": "latest", "version-pattern": null, "automatic-phasing-percentage":
      null}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.charmhub.io/v1/charm/marketplace-test-charm/tracks
  response:
    body:
      string: '{"error-list":[{"code":"api-error","message":"Creation of ''latest''
        track is not allowed"}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi.create_tracks
    status:
      code: 400
      message: BAD REQUEST
version: 1
