interactions:
- request:
    body: '{"snaps": "marketplace-test-charm"}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.charmhub.io/v1/snap/featured
  response:
    body:
      string: '{"error-list":[{"code":"api-error","message":"Additional properties
        are not allowed (''snaps'' was unexpected) at /"}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi.delete_featured
    status:
      code: 400
      message: BAD REQUEST
version: 1
