interactions:
- request:
    body: '{"allowlist": [{"from-model": "test-from-model", "to-model": "test-to-model",
      "from-serial": "test-serial"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/remodel-allowlist/delete
  response:
    body:
      string: '{"error-list":[{"code":"api-error","message":"Invalid macaroon"}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '66'
      x-vcs-revision:
      - 63983ae640fb0c414534facedb3f85eedc6d4f32
      x-view-name:
      - publishergw.webapi_admin.delete_remodel_allowlist
    status:
      code: 400
      message: BAD REQUEST
version: 1
