interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/model
  response:
    body:
      string: '[{"api-key":"test_api_key","brand-account-id":"marketplace_test_store_id","created-at":"2023-07-13T15:56:35.088052","created-by":{"display-name":"Alimot
        Akin","email":"ydz@canonical.com","id":"test_id","username":"Aoydz","validation":"unproven"},"modified-at":null,"modified-by":null,"name":"undefined","series":"16"}]
        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_admin.read_models
    status:
      code: 200
      message: OK
version: 1
