interactions:
- request:
    body: '{"signing-key-sha3-384": "marketplace_test_store_id"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.charmhub.io/v1/brand/marketplace_test_store_id/model/test-model/serial_policy
  response:
    body:
      string: '{"authority":"marketplace_test_store_id","created-at":"2025-01-24T13:06:21.727168","created-by":{"display-name":"Alimot
        Akinbode","email":"alimot.akinbode@canonical.com","id":"test_id","username":"codeempress","validation":"unproven"},"model-name":"test-model","revision":1,"signing-key-sha3-384":"test_signing_key"}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '42'
      x-vcs-revision:
      - 3e7e8f8acd88c31c9c8d4e29c178b532dc9e7ebb
      x-view-name:
      - publishergw.webapi_admin.create_serial_policy
    status:
      code: 201
      message: CREATED
version: 1
