interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/featured
  response:
    body:
      string: '[{"apps":["openshell","term"],"architecture":["amd64"],"developer_id":"gKMUJVq9BQahVbHPgoViBIJnUwtgv5B4","developer_name":"NVIDIA","developer_validation":"verified","icon_url":"https://dashboard.snapcraft.io/site_media/appmedia/2026/06/openshell_logo_no_background.png","media":[{"height":360,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2026/06/openshell_logo_no_background.png","width":360}],"origin":"nvidia-snap-publisher","package_name":"openshell","sections":[{"featured":false,"name":"development"},{"featured":true,"name":"featured"},{"featured":false,"name":"security"}],"snap_id":"ltw2m6EZ9UVOiglLDFP4blLwLO92hNhu","summary":"Safe,
        sandboxed runtimes for autonomous AI agents","title":"OpenShell"},{"apps":["microcloud"],"architecture":["amd64"],"developer_id":"canonical","developer_name":"Canonical","developer_validation":"verified","icon_url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/10/Screenshot_from_2024-10-31_12-17-31.png","media":[{"height":206,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/10/Screenshot_from_2024-10-31_12-17-31.png","width":206}],"origin":"canonical","package_name":"microcloud","sections":[{"featured":true,"[...]
