interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3A28zEonXNoBLvIB7xneRbltOsp0Nf7DwS&size=500&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["rubymine"], "architecture":
        ["amd64"], "developer_id": "28zEonXNoBLvIB7xneRbltOsp0Nf7DwS", "developer_name":
        "jetbrains", "developer_validation": "verified", "media": [{"height": 256,
        "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/rubymine.ico.png",
        "width": 256}, {"height": 964, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/rm_1.png",
        "width": 1330}, {"height": 1168, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/rm_2.png",
        "width": 1704}], "origin": "jetbrains", "package_name": "rubymine", "sections":
        [{"featured": false, "name": "development"}], "summary": "The Most Intelligent
        Ruby and Rails IDE", "title": "RubyMine"}, {"apps": ["clion"], "architecture":
        ["amd64"], "developer_id": "28zEonXNoBLvIB7xneRbltOsp0Nf7DwS", "developer_name":
        "jetbrains", "developer_validation": "verified", "media": [{"height": 256,
        "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/12/clion.ico.png",
        "width": 256}, {"height": 1424, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/12/Screen_Shot_2017-12-20_at_19.40.03.png",
 [...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3A2rsYZu6kqYVFsSejExu4YENdXQEO40Xb&size=500&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clic[...]
