interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide&section=featured
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["minetest"], "architecture":
        ["amd64"], "developer_validation": "unproven", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/01/minetest.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/01/minetest.png"},
        {"height": 640, "type": "banner", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/04/minetestheader.png",
        "width": 1920}, {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/01/Screenshot_from_2018-01-14_18-33-13.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/01/Screenshot_from_2018-01-14_18-38-01.png"}],
        "origin": "snapcrafters", "package_name": "minetest", "publisher": "Snapcrafters",
        "sections": [{"featured": true, "name": "featured"}, {"featured": false, "name":
        "games"}], "summary": "Minetest", "title": "Minetest"}, {"apps": ["rpi-imager"],
        "architecture": ["amd64"], "developer_validation": "unproven", "icon_url":
        "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/rpi-imager.png",
        "media": [{"height": 128, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/rpi-imager.png",
        "width": 128}, {"height": 505, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/04/1_.png",
        "width": 750},[...]
[...]
