interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3A28zEonXNoBLvIB7xneRbltOsp0Nf7DwS&size=500&page=1&scope=wide&arch=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["goland"], "developer_validation":
        "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/go_1282x.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/go_1282x.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/12/go_overview.png"}],
        "origin": "jetbrains", "package_name": "goland", "publisher": "jetbrains",
        "summary": "A Clever IDE to Go", "title": "GoLand"}, {"apps": ["datagrip"],
        "developer_validation": "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/product_256.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/product_256.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/2.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/1.png[...]
