interactions:
- request:
    body: '[{"metric_name": "weekly_installed_base_by_country_percent", "snap_id":
      "kJWM6jE26DiyziWpGNKtedvNlmC1mbIi", "start": "2019-12-18", "end": "2019-12-18"}]'
    headers:
      Content-Type:
      - application/json
      X-Ubuntu-Series:
      - '16'
    method: POST
    uri: https://api.snapcraft.io/api/v1/snaps/metrics
  response:
    body:
      string: '[{"buckets":["2019-12-18"],"metric_name":"weekly_installed_base_by_country_percent","series":[{"name":"BA","values":[0.035]},{"name":"CA","values":[0.065]},{"name":"CI","values":[0.035]},{"name":"CL","values":[0.065]},{"name":"CN","values":[0.035]},{"name":"DE","values":[0.1]},{"name":"FR","values":[0.165]},{"name":"GB","values":[0.065]},{"name":"HU","values":[0.035]},{"name":"IN","values":[0.035]},{"name":"KR","values":[0.035]},{"name":"MA","values":[0.035]},{"name":"MT","values":[0.035]},{"name":"NL","values":[0.065]},{"name":"TN","values":[0.065]},{"name":"US","values":[0.1]},{"name":"none","values":[0.035]}],"snap_id":"kJWM6jE26DiyziWpGNKtedvNlmC1mbIi","status":"OK"}]

        '
    headers:
      content-type:
      - application/json
      snap-store-version:
      - '52'
      x-vcs-revision:
      - c113a817
      x-view-name:
      - snapdevicegw.webapi_metrics.metrics
    status:
      code: 200
      message: OK
[...]
