interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [], "architecture":
        ["amd64"], "developer_validation": "unproven", "icon_url": "", "media": [],
        "origin": "jkfran", "package_name": "test-snap-amd64", "publisher": "Francisco
        Jim\u00e9nez Cabrera", "sections": [], "summary": "The most important snap
        of the snap universe", "title": "test-snap-amd64"}]}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide"}},
        "total": 1}'
    headers:
      Content-Type:
      - application/hal+json
      Snap-Store-Version:
      - '22'
      X-VCS-Revision:
      - 1fe9217
      X-View-Name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - amd64
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [], "architecture":
        ["amd64"], "developer_validation": "unproven", "icon_url": "", "media": [],
        "origin": "jkfran", "package_name": "test-snap-amd64", "publisher": "Francisco
        Jim\u00e9nez Cabrera", "sections": [], "summary": "The most important snap
        of the snap universe", "title": "test-snap-amd64"}]}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64"}},
        "total": 1}'
    headers:
      Content-Type:
      - application/hal+json
      Snap-Store-Version:
      - '22'
      X-VCS-Revision:
      - 1fe9217
      X-View-Name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - i386
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386
  response:
    body:
      string: '{"_embedded": {"clickindex:package": []}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386"}},
        "total": 0}'
    headers:
      Content-Type:
      - application/hal+json
      Snap-Store-Version:
      - '22'
      X-VCS-Revision:
      - 1fe9217
      X-View-Name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - amd64
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64
  response:
    body:
      string: '{"_embedded": {"clickindex:package": []}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64"}},
        "total": 0}'
    headers:
      Content-Type:
      - application/hal+json
      Snap-Store-Version:
      - '22'
      X-VCS-Revision:
      - 1fe9217
      X-View-Name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - i386
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [], "architecture":
        ["i386"], "developer_validation": "unproven", "icon_url": "", "media": [],
        "origin": "jkfran", "package_name": "test-snap-i386", "publisher": "Francisco
        Jim\u00e9nez Cabrera", "sections": [], "summary": "The most important snap
        of the snap universe", "title": "test-snap-i386"}]}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386"}},
        "total": 1}'
    headers:
      Content-Type:
      - application/hal+json
      Snap-Store-Version:
      - '22'
      X-VCS-Revision:
      - 1fe9217
      X-View-Name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
version: 1
