interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/api/category/trending
  response:
    body:
      string: '[{"details":{"contact":"https://www.gimp.org/discuss.html","description":"GIMP
        is an acronym for GNU Image Manipulation Program. It is a freely distributed
        program for high-end tasks such as photo retouching, image composition and
        image authoring.\n\nIt has many capabilities. It can be used as a paint program,
        an expert quality photo retouching program, an online batch processing system,
        a mass production image renderer, an image format converter, etc.\n\nGIMP
        is expandable and extensible. It is designed to be augmented with plug-ins
        and extensions to do just about anything. The advanced scripting interface
        allows everything from the simplest task to the most complex image manipulation
        procedures to be easily scripted. GIMP is available for Linux, Microsoft Windows
        and macOS.\n\n\u2755**NOTE**: users from previous versions maintained by Snapcrafters
        (prior to 3.0.6) need to install https://github.com/canonical/gimp-plugins-gmic-snap
        and/or https://github.com/canonical/openvino-ai-plugins-gimp-snap manually","developer_validation":"verified","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/gimp-logo-shadow.svg_1mt1zvq.png","last_updated":"Thu,
        16 Oct 2025 17:59:02 GMT","license":"GPL-3.0+ AND LGPL-3.0+","links":{"contact":["https://www.gimp.org/discuss.html"],"donations":["https://www.gimp.org/donating/"],"issues":["https://gitlab.gnome.org/GNOME/gimp/issues/new"],"source":["https://gitlab.gnome.org/GNOME/gimp/"],"website":["https://www.gimp.org/"]},"media":[{"height":512,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/gimp-logo-shadow.svg_1mt1zvq.png","width":512},{"height":1280,"type":"banner","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/503769391-2dd9f6db-4b24-466e-a1b2-a79d4a6393cf.jpg","width":3840},{"height":1080,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/Screenshot-gimp-3.0-painting-1759941129.jpg","width":1920},{"height":1048,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/Screenshot-gimp-3.0-photo-editing-1-1759941129.jpg","width":1920},{"height":1048,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/Screenshot-gimp-3.0-photo-editing-2-1759941129.jpg","width":1920},{"height":1080,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/Screenshot-gimp-3.0-engraving-1759941129.jpg","width":1920}],"name":"gimp","publisher":"GIMP
        team","revision":542,"snap_id":"KDHYbyuzZukmLhiogKiUksByRhXD2gYV","summary":"Create
        high-end images and edit photographs","title":"GNU Image Manipulation Program","version":"3.0.6","website":"https://www.gimp.org/"},"rank":1,"snap_id":"KDHYbyuzZukmLhiogKiUksByRhXD2gYV"},{"details":{"contact":"https://github.com//snapcrafters/discord/issues","description":"Discord
        is the easiest way to communicate over voice, video, and text. Chat, hang
        out, and stay close with your friends and communities.\n\nSnaps are confined,
        as such Discord may be unable to perform some of the tasks it typically does
        when unconfined. This may result in the system log getting spammed with apparmor
        errors.[...]
