interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/v2/snaps/info/toto?fields=title%2Csummary%2Cdescription%2Clicense%2Ccontact%2Cwebsite%2Cpublisher%2Cprices%2Cmedia%2Cdownload%2Cversion%2Ccreated-at%2Cconfinement%2Ccategories%2Ctrending
  response:
    body:
      string: '{"channel-map":[{"channel":{"architecture":"amd64","name":"stable","released-at":"2019-09-09T12:21:28.024543+00:00","risk":"stable","track":"latest"},"confinement":"strict","created-at":"2019-09-09T12:20:41.196608+00:00","download":{"deltas":[],"sha3-384":"76ff148aac32bbf13f3462bae6eaadf7f68cef6e4f7f856fa9242068a7dabce41a95bc2bacd39dacd4555b0980b44a07","size":4096,"url":"https://api.snapcraft.io/api/v1/snaps/download/kJWM6jE26DiyziWpGNKtedvNlmC1mbIi_11.snap"},"version":"giant-quarter"},{"channel":{"architecture":"armhf","name":"stable","released-at":"2018-09-11T10:55:16.586335+00:00","risk":"stable","track":"latest"},"confinement":"strict","created-at":"2018-02-08T16:12:11.263686+00:00","download":{"deltas":[],"sha3-384":"0404600b3d6d460ffe0194a073eec25827273e77a98b58e1f58bb1e8b8809eac4b63f53ebb2edc6a9b547eff907dd996","size":4096,"url":"https://api.snapcraft.io/api/v1/snaps/download/kJWM6jE26DiyziWpGNKtedvNlmC1mbIi_3.snap"},"version":"0.1"},{"channel":{"archit[...]
