interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?scope=wide&size=16
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"aliases": null, "anon_download_url":
        "https://api.snapcraft.io/api/v1/snaps/download/TWwObnuGiM3Urabc9hR2Xg2bJs6J8f2Y_20.snap",
        "apps": ["journey"], "architecture": ["amd64"], "base": "core18", "binary_filesize":
        81235968, "channel": "stable", "common_ids": [], "confinement": "strict",
        "contact": "https://help.journey.cloud", "content": "application", "date_published":
        "2018-09-12T06:04:41.572562Z", "deltas": [], "description": "Journey is a
        journal app that keeps your private memories forever.\n\nEmbark on the journey
        of self-improvement towards better qualities of love, life and health. Record
        your daily events, secret, gratitude, and relive those moments in Journey.
        Trusted by millions of users, Journey is your perfect journaling companion
        that keeps your private memories for a lifetime.\n\n# Future-proof digital
        journal\nDesigned to keep journal last forever, Journey[...]
[...]
