interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=10&page=1&scope=wide&arch=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&section=featured
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["vlc"], "developer_validation":
        "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2016/07/vlc.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2016/07/vlc.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2016/07/vlc-2.0-poney.jpg"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/04/banner_32i5K4c.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/04/banner-icon.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/04/2018-04-26-161203_1126x899_scrot_yBFL55L.png"}],
        "origin": "videolan", "package_name": "vlc", "publisher": "VideoLAN", "sections":
        [{"featured": true, "name": "featured"}, {"featured": true, "name": "photo-and-video"}],
        "summary": "The ultimate media player", "title": "VLC"}, {"apps": ["standard-notes"],
        "developer_validation": "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/Blue-Rounded-512.png",
        "media": [{"height": 512, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/Blue-Rounded-512.png",
        "width": 512}, {"height": 1060, "type": "banner", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/Banner.png",
        "width": 3180}, {"height": 658, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/Screenshot_1.png",
        "width": 1170}, {"height": 658, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/11/Screenshot_2.png",
        "width": 1170}, {"height": 658, "type": "screenshot", "url": "https://dash[...]
[...]
