interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/api/category/top_rated
  response:
    body:
      string: '[{"details":{"contact":"https://twitter.com/code","description":"Visual
        Studio Code is a new choice of tool that combines the\nsimplicity of a code
        editor with what developers need for the core\nedit-build-debug cycle.\n","developer_validation":"verified","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png","last_updated":"Wed,
        15 Oct 2025 20:08:53 GMT","license":"Proprietary","links":{"contact":["https://twitter.com/code"],"website":["https://code.visualstudio.com/"]},"media":[{"height":512,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png","width":512},{"height":520,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2017/09/home-screenshot-linux.png","width":617}],"name":"code","publisher":"Visual
        Studio Code","revision":211,"snap_id":"Ht0aUHi7ofh9Fbwh6m7jUN2pAy6kzBiu","summary":"Code
        editing. Redefined.","title":"code","version":"7d842fb8","website":"https://code.visualstudio.com/"},"rank":1,"snap_id":"Ht0aUHi7ofh9Fbwh6m7jUN2pAy6kzBiu"},{"details":{"contact":null,"description":"Pure
        instant messaging \u2014 simple, fast, secure, and synced across all your
        devices. One of the world''s top 10 most downloaded apps with over 500 million
        active users.\n\nFAST: Telegram is the fastest messaging app on the market,
        connecting people via a unique, distributed network of data centers around
        the globe.\n\nSYNCED: You can access your messages from all y[...]
