interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=code&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["code", "url-handler"],
        "architecture": ["amd64"], "developer_id": "qXCsqdX95tRyVlJUKTKESXEAuNRPfJob",
        "developer_name": "Visual Studio Code", "developer_validation": "verified",
        "media": [{"height": 512, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png",
        "width": 512}, {"height": 520, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/09/home-screenshot-linux.png",
        "width": 617}], "origin": "vscode", "package_name": "code", "sections": [{"featured":
        false, "name": "development"}], "summary": "Code editing. Redefined.", "title":
        "code"}, {"apps": ["codechenx-tv"], "architecture": ["amd64"], "developer_id":
        "XzUgSfpfmRaHlXMG3VY8REupL6ycIybt", "developer_name": "codechenx", "developer_validation":
        "unproven", "media": [{"height": 192, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/07/android-chrome-192x192.png",
        "width": 192}, {"height": 1026, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/07/6233DC0F-B68D-483A-99B7-B2[...]
[...]
