interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=code&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["code", "url-handler"],
        "developer_validation": "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/09/home-screenshot-linux.png"}],
        "origin": "vscode", "package_name": "code", "publisher": "Visual Studio Code",
        "sections": [{"featured": false, "name": "development"}], "summary": "Code
        editing. Redefined.", "title": "Visual Studio Code"}, {"apps": ["subl"], "developer_validation":
        "unproven", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/03/sublime-text.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/03/sublime-text.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/03/linux.png"}],
        "origin": "snapcrafters", "package_name": "sublime-text", "publisher": "Snapcraf[...]
[...]
