interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=toto&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["toto"], "architecture":
        ["amd64"], "developer_validation": "unproven", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/06/Artboard_0gjcICX.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/06/Artboard_0gjcICX.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/03/Artboard_fNArkm1.png"}],
        "origin": "tbmb", "package_name": "toto", "publisher": "Thomas Bille", "sections":
        [{"featured": false, "name": "social"}], "summary": "Cool tool for happy people",
        "title": "toto"}, {"apps": [], "architecture": ["amd64"], "developer_validation":
        "unproven", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/07/snpicon.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/07/snpicon.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/05/02.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/[...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - amd64
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=toto&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["toto"], "architectu[...]
[...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - i386
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=toto&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [], "architecture":
        ["i386"], "developer_validation": "unproven", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/06/Artboard_0gjcICX.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/06/Artboard_0gjcICX.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/03/Artboard_fNArkm1.png"}],
        "origin": "tbmb", "package_name": "toto", "publisher": "Thomas Bille", "sections":
        [{"featured": false, "name": "social"}], "summary": "Cool tool for happy people",
        "title": "toto"}, {"apps": ["test-toto"], "architecture": ["i386"], "developer_validation":
        "unproven", "icon_url": "", "media": [], "origin": "totoqa", "package_name":
        "test-toto", "publisher": "Toto qa", "sections": [], "summary": "GNU Hello,
        the \"test-toto world\" snap", "title": "test-toto"}]}, "_links": {"self":
        {"href": "https://api.snapcraft.io/api/v1/snaps/search?q=toto&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386"}},
        "total": 2}'
    headers:
      Content-Type:
      - application/hal+json
      Snap-Store-Version:
      - '22'
      X-VCS-Revision:
      - 0bf41e1
      X-View-Name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
version: 1
