interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?scope=wide&size=16
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"aliases": null, "anon_download_url":
        "https://api.snapcraft.io/api/v1/snaps/download/XEOrla3TiUZiTmvCRiG2TdzQMt64NARk_180.snap",
        "apps": ["beekeeper-studio"], "architecture": ["amd64"], "base": "core18",
        "binary_filesize": 86245376, "channel": "stable", "common_ids": [], "confinement":
        "strict", "contact": "mailto:matthew@rathbonelabs.com", "content": "application",
        "date_published": "2020-03-27T16:21:32.433012Z", "deltas": [], "description":
        "An easy-to use SQL query editor and database UI for Mac, Windows, and Linux",
        "developer_id": "4AJV20TkOTE1gm5yDAgpGOGkjD4K7bAY", "developer_name": "Beekeeper
        Studio", "developer_validation": "unproven", "download_sha3_384": "54d43957d37f095f958ab92770f31e59863cb92cf8a3caef57284abdfec226ca696ede60ef513553df01cfc8f6c15049",
        "download_sha512": "1a935fd707b54bb819ac68aaeed27d184ccf4eba3bcc0b6fa3d8987be6a92ba0ea095393d731e0eb5a92fd7b1cf5b1350dc46022efae98144f517ac89d054201",
        "download_url": "https://api.snapcraft.io/api/v1/snaps/download/XEOrla3TiUZiTmvCRiG2TdzQMt64NARk_180.snap",
        "gated_snap_ids": [], "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/03/512x512_4JGJ8f7.png",
        "last_updated": "2022-11-21T02:59:01.647514+00:00", "license": "MIT", "links":
        {"contact": ["mailto:matthew@rathbonelabs.com"], "website": ["https://beekeeperstudio.io"]},
        "name": "beekeeper-studio.matthew-rathbone", "origin": "matthew-rathbone",
        "package_name": "beekeeper-studio", "private": false, "publisher":
        "Beekeeper Studio", "ratings_average": 0.0, "release": ["16"], "revision":
        180, "screenshot_urls": ["https://dashboard.snapcraft.io/site_media/appmedia/2021/09/main-dark.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2021/09/main-light.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2021/09/view-dark.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2021/09/connection-dark.png",
        "https://dashboard.snapcraft.io/site_media/appmedia/2021/09/view-light.png"],
        "snap_id": "XEOrla3TiUZiTmvCRiG2TdzQMt64NARk", "summary": "Beekeeper Studio",
        "support_url": "", "title": "Beekeeper Studio", "version": "3.7.10", "website":
        "https://beekeeperstudio.io"}, {"aliases": null, "anon_download_url": "https://api.snapcraft.io/api/v1/snaps/download/XC73ux8XOHjoahd9keAyvM3LVkPBLTzy_5570.snap",
        "apps": ["pyhoca-cli", "remmina", "winpr-hash", "winpr-makecert", "wlfreerdp",
        "xauth", "xfreerdp", "xprop"], "architecture": ["amd64"], "base": "core20",
        "binary_filesize": 160043008, "channel": "stable", "common_ids": ["org.remmina.Remmina"],
        "confinement": "strict", "cont[...]
[...]
