interactions:
- request:
    body: '[{"metric_name": "weekly_installed_base_by_country_percent", "snap_id":
      "kJWM6jE26DiyziWpGNKtedvNlmC1mbIi", "start": "2019-12-18", "end": "2019-12-18"}]'
    headers:
      Content-Type:
      - application/json
      X-Ubuntu-Series:
      - '16'
    method: POST
    uri: https://api.snapcraft.io/api/v1/snaps/metrics
  response:
    body:
      string: '[{"buckets":[],"metric_name":"weekly_installed_base_by_country_percent","series":[],"snap_id":"kJWM6jE26DiyziWpGNKtedvNlmC1mbIi","status":"NO
        DATA"}]

        '
    headers:
      Content-Type:
      - application/json
      Snap-Store-Version:
      - '17'
      X-VCS-Revision:
      - 7adc6b1
      X-View-Name:
      - snapdevicegw.webapi_metrics.metrics
    status:
      code: 200
      message: OK
version: 1
