interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/v2/snaps/find?q=&category=featured&architecture=&publisher=&featured=false
  response:
    body:
      string: '{"results":[{"name":"nextcloud","snap":{},"snap-id":"njObIbGQEaVx1H4nyWxchk1i8opy4h54"},{"name":"netbeans","snap":{},"snap-id":"JyXqEgtoFceo2Ppmyr1XrbqOoRIkNRrS"},{"name":"slack","snap":{},"snap-id":"JUJH91Ved74jd4ZgJCpzMBtYbPOzTlsD"},{"name":"remmina","snap":{},"snap-id":"XC73ux8XOHjoahd9keAyvM3LVkPBLTzy"},{"name":"telegram-desktop","snap":{},"snap-id":"jpdoHqMd90M39DdH2JSZbeQxipqHtwLo"},{"name":"kdevelop","snap":{},"snap-id":"vF7qHQJ3SMpORQX952464X4FQhbnh6gu"},{"name":"alacritty","snap":{},"snap-id":"CPA6L7h6dWM7VAmIPTHX14eMgKEZqMJw"},{"name":"pokemmo","snap":{},"snap-id":"Fz9u2eIIv3gtgFDLBaiN41DTTJm8lC0v"},{"name":"v2raya","snap":{},"snap-id":"P99RvhgFdb2e0dN2DuvzWzoUrS12dNvu"},{"name":"intellij-idea-community","snap":{},"snap-id":"KSPcSedMkvhgEjkg3Ki1PdjX2Ylm2aOy"},{"name":"zoom-client","snap":{},"snap-id":"76rrD7USwCJrZgepbRk7UdFEWON3tVKX"},{"name":"bluemail","snap":{},"snap-id":"ZVlj0qw0GOFd5JgTfL8kk2Y5eIG1IpiH"},{"name":"lunacy","snap":{},"snap-id":"uqxbt5DB99PhHoMkjIitfqp8B7TS9wnK"},{"name":"logisim-evolution","snap":{},"snap-id":"CzzfrpKG7K0IJ6YYGToEYHOA7pTNpLue"}]}

        '
    headers:
      content-type:
      - application/json
      snap-store-version:
      - '56'
      x-vcs-revision:
      - 372bb852e11d8e1656821b87610dbbfbce7a87cc
      x-view-name:
      - snapdevicegw.webapi_search_v2.snaps_find
    status:
      code: 200
      message: OK
version: 1
