interactions:
- request:
    body: '{"packages": ["12345"]}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.charmhub.io/v1/snap/featured
  response:
    body:
      string: '{"error-list":[{"code":"api-error","message":"Invalid macaroon"}]}

        '
    headers:
      content-type:
      - application/json
      publishergw-version:
      - '40'
      x-vcs-revision:
      - 91d3d4ff71a0d44f421ee0fd0cd845a9b132f3ab
      x-view-name:
      - publishergw.webapi.delete_featured
    status:
      code: 201
      message: SUCCESS
version: 1
