interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide&section=featured
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["jami"], "architecture":
        ["amd64"], "developer_id": "pl5fgH1OQJko6pVorMq2gZ7lzJxZYrrS", "developer_name":
        "Savoir-faire Linux", "developer_validation": "unproven", "media": [{"height":
        512, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/11/jami-512.png",
        "width": 512}, {"height": 640, "type": "banner", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/05/jami-qt-gnulinux-banner-20220504.png",
        "width": 1920}, {"height": 920, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/05/01-jami-gnulinux-video-call.jpg",
        "width": 1638}, {"height": 920, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/05/02-jami-gnulinux-video-conference.jpg",
        "width": 1638}, {"height": 920, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/05/03-jami-gnulinux-chat.jpg",
        "width": 1638}, {"height": 920, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/05/04-jami-mobile_bAKuKuW.jpg",
        "width": 1638}, {"height": 920, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2022/05/05-jami-gnulinux-sip.jpg",
        "width": 1638}], "origin": "sfljami", "package_name": "jami", "sections":
        [{"featured": true, "name": "featured"}, {"featured": false, "name": "photo-and-video"},
        {"featured": false, "name": "social"}], "summary": "Privacy-oriented voice,
        video, chat, and conference platform and SIP phone", "title": "Jami"}, {"apps":
        ["krita"], "architecture": ["amd64"], "developer_id": "RjmEPUNNh0j9SKha5UfIuEurgGR82h9l",
        "developer_name": "Stichting Krita Foundation", "developer_validation": "verified",
        "media": [{"height": 256, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/04/unnamed.png",
        "width": 256}, {"height": 1363, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/01/2018-03-17_screenshot_002.png",[...]
[...]
