interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?scope=wide&arch=wide&confinement=strict%2Cclassic%2Cdevmode&fields=snap_id&section=featured
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"package_name": "telegram-sergiusens",
        "snap_id": "6L8TKPBCcxI7HkPi59rT0q5pFjgzPl1R"}, {"package_name": "no", "snap_id":
        "LpkY6BuU0Kicpi1UIZ7qLdZWk3p2hdbt"}, {"package_name": "bluez", "snap_id":
        "NkPqmIELjn1idQNJ9rTXTVF3vUoMjAQc"}, {"package_name": "hello-noise2", "snap_id":
        "YQNoWHQzvtu9BxzBZmGr0ucXAlsUOLNw"}, {"package_name": "thisonenessita", "snap_id":
        "n9CkqzmSWCVQwgJNgkREK0JYmYHRAyI9"}, {"package_name": "jhartley-one", "snap_id":
        "tUQF6wzfF2AII0K9HWzbBM06EJrj6MK5"}, {"package_name": "surl", "snap_id": "wKFeK2U7Y2CB53vRJwg9MeR9bqfPvtZK"},
        {"package_name": "busybox2", "snap_id": "yFH5uuDe8tcegB8cF0tTqhXgQGXTHTEV"},
        {"package_name": "shanepelletier-staging-hessdalen-coi", "snap_id": "1QFdLndOtrGJk85yXG0QLhqkVCf1n1eG"}]},
        "_links": {"self": {"href": "https://api.staging.snapcraft.io/api/v1/snaps/search?scope=wide&arch=wide&confinement=strict%2Cclassic%2Cdevmode&fields=snap_id&section=featured"}},
        "total": 9}'
    headers:
      content-type:
      - application/hal+json
      snap-store-version:
      - '56'
      x-vcs-revision:
      - 205680c16919223a58b016c07b476e80cd60b460
      x-view-name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
version: 1
