interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [], "architecture":
        ["amd64"], "developer_id": "Iimg6NMbgnrsyCTMUvWHRSiAnLkCV4tP", "developer_name":
        "Francisco Jim\u00e9nez Cabrera", "developer_validation": "unproven", "media":
        [{"height": 40, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2021/08/test222_dt8pe8d.png",
        "width": 40}], "origin": "jkfran", "package_name": "test-snap-amd64", "sections":
        [], "summary": "The most important snap of the snap universe", "title": "test-snap-amd64"}]},
        "_links": {"self": {"href": "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=100&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide"}},
        "total": 1}'
    headers:
      content-type:
      - application/hal+json
      snap-store-version:
      - '52'
      x-vcs-revision:
      - c113a817
      x-view-name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - amd64
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [][...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - i386
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386
  response:
    body:
      string: '{"_embedded": {"clickindex:package": []}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-amd64&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386"}},
        "total": 0}'
    headers:
      content-type:
      - application/hal+json
      snap-store-version:
      - '52'
      x-vcs-revision:
      - c113a817
      x-view-name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - amd64
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64
  response:
    body:
      string: '{"_embedded": {"clickindex:package": []}, "_links": {"self": {"href":
        "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=amd64"}},
        "total": 0}'
    headers:
      content-type:
      - application/hal+json
      snap-store-version:
      - '52'
      x-vcs-revision:
      - c113a817
      x-view-name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - i386
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": [], "architecture":
        ["i386"], "developer_id": "Iimg6NMbgnrsyCTMUvWHRSiAnLkCV4tP", "developer_name":
        "Francisco Jim\u00e9nez Cabrera", "developer_validation": "unproven", "media":
        [], "origin": "jkfran", "package_name": "test-snap-i386", "sections": [],
        "summary": "The most important snap of the snap universe", "title": "test-snap-i386"}]},
        "_links": {"self": {"href": "https://api.snapcraft.io/api/v1/snaps/search?q=test-snap-i386&size=1&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=i386"}},
        "total": 1}'
    headers:
      content-type:
      - application/hal+json
      snap-store-version:
      - '52'
      x-vcs-revision:
      - c113a817
      x-view-name:
      - snapdevicegw.webapi_search.snap_search
    status:
      code: 200
      message: OK
version: 1
