interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3A28zEonXNoBLvIB7xneRbltOsp0Nf7DwS&size=500&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["pycharm-community"],
        "architecture": ["amd64"], "developer_validation": "verified", "icon_url":
        "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/PyCharmCore256.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/11/PyCharmCore256.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/12/pycharm_com_general.png"}],
        "origin": "jetbrains", "package_name": "pycharm-community", "publisher": "jetbrains",
        "sections": [{"featured": true, "name": "development"}], "summary": "Python
        IDE for Professional Developers", "title": "PyCharm CE"}, {"apps": ["intellij-idea-educational"],
        "architecture": ["amd64"], "developer_validation": "verified", "icon_url":
        "https://dashboard.snapcraft.io/site_media/appmedia/2018/08/icon_CE_256_2Qe5uEl.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/08/icon_CE_256_2Qe5uEl.png"}],
        "origin": "jetbrains", "package_name": "intellij-idea-educational", "publisher":
        "jetbrains", "sections": [], "summary": [...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=publisher%3A2rsYZu6kqYVFsSejExu4YENdXQEO40Xb&size=500&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Carchitecture%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide
  response:
    body:
      string: '{"_embedded": {"clickindex:pa[...]
