interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/api/recently-updated?page=1&size=10
  response:
    body:
      string: '{"page":1,"size":10,"snaps":[{"contact":"mailto:ed-pwtool@s5h.net","description":"Generate
        passwords in a variety of formats for various tools\n\n- use format strings
        to ease creation of user accounts\n\n- totp compatibility\n\n- des/sha1/sha256/sha512/bcrypt
        and more\n","developer_validation":"unproven","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2025/03/pwtool_512.png","last_updated":"Thu,
        06 Nov 2025 19:48:56 GMT","license":"GPL-3.0","links":{"contact":["mailto:ed-pwtool@s5h.net"],"donations":["https://www.paypal.com/donate/?hosted_button_id=FYG7GHZL84PL6"],"issues":["https://gitlab.com/edneville/pwtool"],"source":["https://gitlab.com/edneville/pwtool"],"website":["https://www.usenix.org.uk/content/pwtool.html"]},"media":[{"height":512,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/03/pwtool_512.png","width":512},{"height":240,"type":"banner","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/03/pwtool_720_240.png","width":720}],"name":"pwtool","publisher":"ed","revision":15,"snap_id":"kLaUGbRLxvHhOOZlaq5hv7eVeSzxQlD4","summary":"pwtool,
        a tool for making passwords in various formats","title":"pwtool","version":"0.11.0","website":"https://www.usenix.org.uk/content/pwtool.html"},{"contact":"https://community.brave.app/","description":"The
        new Brave browser automatically blocks ads and trackers, making it faster
        and safer than your current browser. This package is official.","developer_validation":"verified","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2019/12/12301619.png","last_updated":"Thu,
        06 Nov 2025 19:10:25 GMT","license":"MPL-2.0","links":{"contact":["https:[...]
