interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=10&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide&section=security
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["canonical-livepatch"],
        "architecture": ["amd64"], "developer_id": "canonical", "developer_name":
        "Canonical", "developer_validation": "verified", "media": [{"height": 256,
        "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2016/08/pictogram-upgrade-orange-hex.svg.png",
        "width": 256}], "origin": "canonical", "package_name": "canonical-livepatch",
        "sections": [{"featured": true, "name": "security"}, {"featured": true, "name":
        "server-and-cloud"}], "summary": "Canonical Livepatch Client", "title": "canonical-livepatch"},
        {"apps": ["cli", "keepassxc", "proxy"], "architecture": ["amd64"], "developer_id":
        "apCKcXygvsIEvn1HNfO28dUQ4l82DFEE", "developer_name": "Jonathan White", "developer_validation":
        "unproven", "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/01/keepassxc.png"},
        {"height": 480, "type": "banner", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2020/09/kpxc_banner_sm.png",
        "width": 14[...]
- request:
    body: null
    headers:
      X-Ubuntu-Architecture:
      - wide
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=2&page=1&scope=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Carchitecture%2Cmedia%2Cdeveloper_name%2Cdeveloper_id%2Cdeveloper_validation%2Corigin%2Capps%2Csections&arch=wide&section=server-and-cloud
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"a[...]
