interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=10&page=1&scope=wide&arch=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&section=security
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["canonical-livepatch"],
        "developer_validation": "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2016/08/pictogram-upgrade-orange-hex.svg.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2016/08/pictogram-upgrade-orange-hex.svg.png"}],
        "origin": "canonical", "package_name": "canonical-livepatch", "publisher":
        "Canonical", "sections": [{"featured": true, "name": "security"}, {"featured":
        true, "name": "server-and-cloud"}], "summary": "Canonical Livepatch Client",
        "title": "canonical-livepatch"}, {"apps": [], "developer_validation": "unproven",
        "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/torlogo.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/torlogo.png"}],
        "origin": "irl", "package_name": "tor", "publisher": "Iain R. Learmonth",
        "sections": [{"featured": true, "name": "security"}], "summary": "Anonymising
        TCP overlay network", "title": "Tor Client"}, {"apps": ["proxy", "cli", "keepassxc"],
        "developer_validation": "unproven", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/01/keepassxc.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2017/01/keepassxc.png"},
        {"height": 777, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/10/kpxc1.png",
        "width": 932}, {"height": 653, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/10/kpxc7.png",
        "width": 920}, {"height": 777, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/10/kpxc2.png",
        "width": 932}, {"height": 777, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/10/kpxc3.png",
        "width": 932}, {"height": 777, "type": "screenshot", "url": "https://dashboard.snapcraft[...]
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=2&page=1&scope=wide&arch=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&section=server-and-cloud
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["remove-node", "istioctl",
        "leave", "cilium", "disa[...]
