interactions:
- request:
    body: null
    headers:
      Snap-Device-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/v2/snaps/find?q=&category=featured
  response:
    body:
      string: '{"results":[{"name":"eks","snap":{},"snap-id":"xKFtlGimGVPMhubDmVct38AOzAA4j0qh"},{"name":"thunderbird","snap":{},"snap-id":"k1Ml1O9GzSO2QftV0ZlWSbUfQ78nN460"},{"name":"sc-controller","snap":{},"snap-id":"3zt5UqFg7pE3avJvT9XbZQJY64Ix3Y4C"},{"name":"netbeans","snap":{},"snap-id":"JyXqEgtoFceo2Ppmyr1XrbqOoRIkNRrS"},{"name":"geforcenow","snap":{},"snap-id":"D0GhSSTbJyx4LV9sjd12L0qRaG4nbWDN"},{"name":"argos-translate","snap":{},"snap-id":"zBLv2JUGUIIcGFXThPtU3mcSNJo7CZgW"},{"name":"parsec","snap":{},"snap-id":"i91m6pQornK3VI0Uy9iDihP8OMxcK16u"}[...]
