interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/api/recently-updated?page=2&size=5
  response:
    body:
      string: '{"page":2,"size":5,"snaps":[{"contact":"mailto:help@standardnotes.com","description":"#
        An end-to-end encrypted notes app for digitalists and professionals.\n\nStandard
        Notes helps you gain control in a world that often feels out of control. Protect
        your life''s work with end-to-end encryption, advanced security, and unmatched
        privacy controls.\n\n## A steel vault for your most sensitive data.\n\nStandard
        Notes protects your notes and files with 4x-audited industry-leading end-to-end
        encryption, meaning only you have access to the [...]
