interactions:
- request:
    body: null
    headers:
      X-Ubuntu-Series:
      - '16'
    method: GET
    uri: https://api.snapcraft.io/api/v1/snaps/search?q=&size=10&page=1&scope=wide&arch=wide&confinement=strict%2Cclassic&fields=package_name%2Ctitle%2Csummary%2Cicon_url%2Cmedia%2Cpublisher%2Cdeveloper_validation%2Corigin%2Capps%2Csections&section=featured
  response:
    body:
      string: '{"_embedded": {"clickindex:package": [{"apps": ["postman"], "developer_validation":
        "verified", "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/logo-mark.png",
        "media": [{"type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/logo-mark.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/06/Screenshot_from_2018-03-21_17-24-01.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/Light-1.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/Dark-4.png"},
        {"type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2018/11/Dark-1.png"}],
        "origin": "postman-inc", "package_name": "postman", "publisher": "Postman,
        Inc.", "sections": [{"featured": true, "name": "development"}, {"featured":
        true, "name": "featured"}], "summary": "API Development Environment", "title":
        "Postman"}, {"apps": ["color-picker"], "developer_validation": "unproven",
        "icon_url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/12/app.png",
        "media": [{"height": 512, "type": "icon", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/12/app.png",
        "width": 512}, {"height": 708, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/12/pic_1.png",
        "width": 530}, {"height": 705, "type": "screenshot", "url": "https://dashboard.snapcraft.io/site_media/appmedia/2019/12/pic_2.png",
        "width": 929}], "origin": "keshavnrj", "package_name": "color-picker", "publisher":
        "keshavbhatt", "sections": [{"featured": false, "name": "development"}, {"featured":
        true, "name": "featured"}, {"featured": fal[...]
[...]
