interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/api/category/popular
  response:
    body:
      string: '[{"details":{"contact":"https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bugs?field.tag=snap","description":"An
        open-source browser project that aims to build a safer, faster, and more\nstable
        way for all Internet users to experience the web.\n","developer_validation":"verified","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2018/05/chromium-browser.png","last_updated":"Wed,
        29 Oct 2025 21:44:22 GMT","license":"Apache-2.0 AND BSD-3-Clause AND LGPL-2.0
        AND LGPL-2.1 AND MIT AND MS-PL AND (GPL-2.0+ OR LGPL-2.1+ OR MPL-1.1)","links":{"contact":["https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bugs?field.tag=snap"],"website":["https://code.launchpad.net/~chromium-team/chromium-browser/+git/snap-from-source"]},"media":[{"height":256,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2018/05/chromium-browser.png","width":256},{"height":711,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2022/05/Screenshot_from_2022-05-19_18-11-22.png","width":1069},{"height":711,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2022/05/Screenshot_from_2022-05-19_18-16-04.png","width":1069},{"height":699,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2022/05/Screenshot_from_2022-05-19_18-14-56.png","width":1005}],"name":"chromium","publisher":"Canonical","revision":3293,"snap_id":"XKEcBqPM06H1Z7zGOdG5fbICuf8NWK5R","summary":"Chromium
        web browser, open-source version of Chrome","title":"chromium","version":"142.0.7444.59","website":"https://code.launchpad.net/~chromium-team/chromium-browser/+git/snap-from-source"},"rank":1,"snap_id":"XKEcBqPM06H1Z7zGOdG5fbICuf8NWK5R"},{"details":{"contact":"https://www.gimp.org/discuss.html","description":"GIMP
        is an acronym for GNU Image Manipulation Program. It is a freely distributed
        program for high-end tasks such as photo retouching, image composition and
        image authoring.\n\nIt has many capabilities. It can be used as a paint program,
        an expert quality photo retouching program, an online batch processing system,
        a mass production image renderer, an image format converter, etc.\n\nGIMP
        is expandable and extensible. It is designed to be augmented with plug-ins
        and extensions to do just about anything. The advanced scripting interface
        allows everything from the simplest task to the most complex image manipulation
        procedures to be easily scripted. GIMP is available for Linux, Microsoft Windows
        and macOS.\n\n\u2755**NOTE**: users from previous versions maintained by Snapcrafters
        (prior to 3.0.6) need to install https://github.com/canonical/gimp-plugins-gmic-snap
        and/or https://github.com/canonical/openvino-ai-plugins-gimp-snap manually","developer_validation":"verified","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/gimp-logo-shadow.svg_1mt1zvq.png","last_updated":"Thu,
        16 Oct 2025 17:59:02 GMT","license":"GPL-3.0+ AND LGPL-3.0+","links":{"contact":["https://www.gimp.org/discuss.html"],"donations":["https://www.gimp.org/donating/"],"issues":["https://gitlab.gnome.org/GNOME/gimp/issues/new"],"source":["https://gitlab.gnome.org/GNOME/gimp/"],"website":["https://www.gimp.org/"]},"media":[{"height":512,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/gimp-logo-shadow.svg_1mt1zvq.png","width":512},{"height":1280,"type":"banner","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/503769391-2dd9f6db-4b24-466e-a1b2-a79d4a6393cf.jpg","width":3840},{"height":1080,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2025/10/Screensh[...]
