interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://recommendations.snapcraft.io/api/category/recent
  response:
    body:
      string: '[{"details":{"contact":"mailto:contact@edgeiq.ai","description":"Note:
        To use EdgeIQ Coda, an EdgeIQ Symphony subscription is required.\n\nEdgeIQ
        Coda facilitates the efficient management of IoT devices, ensuring seamless
        data flow and secure communication with the EdgeIQ Symphony platform. It offers
        robust features for device monitoring, data collection, and real-time analytics,
        making it an essential tool for edge computing solutions.\n\nEdgeIQ Coda is
        a powerful service designed to connect, manage, and orchestrate IoT devices
        at the edge. It supports a wide range of industrial protocols (Modbus, BacNET,
        OPC-UA) and application protocols (Serial, D-Bus, SNMP, HTTP, TCP/UDP, etc.),
        and can be integrated with numerous cloud services (AWS IoT Core, Azure IoT
        Hub, GCP, Inmarsat, Orbcomm, Twilio, etc.), providing flexible workflows for
        IoT device orchestration.\n\nThis snap package simplifies the deployment of
        Coda on Ubuntu Core, enabling users to leverage its capabilities with minimal
        setup effort. Whether deploying a small number of devices or managing a large-scale
        IoT network, Coda offers the tools and functionality needed to ensure smooth
        and reliable operations.\n\nFor more information, visit the website: \"https://www.edgeiq.ai/\".","developer_validation":"verified","icon":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/EdgeIQ-BUG-Black.svg.png","last_updated":"Wed,
        29 Oct 2025 08:18:48 GMT","license":"Proprietary","links":{"contact":["mailto:contact@edgeiq.ai"],"donations":[],"issues":["https://edgeiq.atlassian.net/servicedesk/customer/portal/3"],"source":["https://github.com/EdgeIQ/coda-snap.git"],"website":["https://www.edgeiq.ai/","https://dev.edgeiq.io/"]},"media":[{"height":512,"type":"icon","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/EdgeIQ-BUG-Black.svg.png","width":512},{"height":960,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/EdgeIQ__Canonical-1726755486.png","width":1180},{"height":1320,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/Symphony_-_Unified_X-1726755486.png","width":1200},{"height":1358,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/Coda_Local_Admin-1726755486.png","width":2182},{"height":854,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/Coda_Integrations-1726769302.png","width":1432},{"height":1252,"type":"screenshot","url":"https://dashboard.snapcraft.io/site_media/appmedia/2024/09/Workflow-1726769302.png","width":2026}],"name":"coda","publisher":"EdgeIQ","revision":27,"snap_id":"t7HdJLYYS2j6AfEPL8eq8xZWLZvBTMV8","summary":"EdgeIQ
        Agent for Device Management and Workflow Orchestration","title":"coda","version":"4.1.27","website":"https://www.edgeiq.ai/"},"rank":1,"snap_id":"t7HdJLYYS2j6AfEPL8eq8xZWLZvBTMV8"},{"details":{"contact":"https://github.com//snapcrafters/discord/issues","description":"Discord
        is the easiest way to communicate over voice, video, and text. Chat, hang
        out, and stay close with your friends and communities.\n\nSnaps are confined,
        as such Discord may be unable to perform some of the tasks it typically does
        when unconfined. This may result in the system log getting spammed with apparmor
        errors.[...]
