name: Test live APIs

on:
  schedule:
    - cron:  '0 7 * * *'

jobs:
  test-api:
    runs-on: ubuntu-latest

    env:
      # We are using the staging API for now:
      CHARMSTORE_PUBLISHER_API_URL: https://api.staging.snapcraft.io/

    steps:
    - uses: actions/checkout@v1
    - uses: dschep/install-poetry-action@v1.2

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y --no-install-recommends python3-venv

    - name: Make poetry use Python 3
      run: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10

    - name: Install poetry dependencies
      run: poetry install

    - name: Remove only consumer VCR cassettes
      run: rm -rf tests/cassettes/SnapStoreTest.*

    - name: Test Python with Coverage
      run: poetry run coverage run --source=. -m unittest discover tests
