name: Publish

on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: dschep/install-poetry-action@v1.2

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y --no-install-recommends python3-venv

    - name: Make poetry use Python 3
      run: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10

    - name: Build package
      run: poetry build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
