name: Publish

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: snok/install-poetry@v1.4.1

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y --no-install-recommends python3-venv

    - name: Make poetry use Python 3
      run: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10

    - name: Build package
      run: poetry build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@e2bab26859796ee5c3bf97b8f394ce1e6570e906
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}

  test-coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: snok/install-poetry@v1.4.1

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y --no-install-recommends python3-venv

    - name: Make poetry use Python 3
      run: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10

    - name: Install poetry dependencies
      run: poetry install

    - name: Test Python with Coverage
      run: |
        poetry run coverage run --source=. -m unittest discover tests
        poetry run coverage xml

    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
